/* Page created by Mahmoud AlZayed */

*{
    box-sizing: border-box;
    margin:0;
    padding:0;

}
.background{
    background-color: #BD7482;
    width:100vw;
    height: 100vh;

}
.main-content{
    display: flex;
    justify-content: space-around;
}
.contact-info{
    padding: 2px;
}
h1{
    color: #FFFFFF;
    font-size: 50px;
    font-family: Ramaraja,sans-serif ;
    line-height: 76px;
    letter-spacing: 2%;
    width: 300px;
    max-width: 100%;
    height: 50px;
    margin-top: 10px;

}
.customer-support-heading{
     width: 274px;
     max-width: 100%;
     height:71px

}
h2{
    color: #FFFFFF;
    font-family: Ramaraja,sans-serif ;
    font-size: 35px;
    line-height: 76px;
    letter-spacing: 2%;
    width: 300px;
    max-width: 100%;
    height: 50px;
    
}
.all-paragraphs{
    color: #070202;
    font-size: 20px;
    font-family: Roboto,sans-serif ;
    line-height: 32px;
    letter-spacing: 2%;

}
.customer-support{
    width: 400px;
    max-width: 100%;
    height: 105px;

}
.business-inquirie{
    width: 300px;
    max-width: 100%;
    height: 120px;
    
}
.jamz-inc{
    width: 400px;
    max-width: 100%;
    height: 105px;

}
.socila-media{
    width: 400px;
    max-width: 100%;
    height: 127px;

}
.form{
    align-self: center;
    margin: 50px;
    
}
.label{
    display: block;
    color: white;
    font-family: Ramaraja;
    font-size: 20px;

}
input{
    display: block;
    color: #FFFFFF;
    width: 400px;
    max-width: 100%;
    height: 50px;
    background: rgb(210, 137, 151);
    border: none;
    margin-bottom: 10px;

}
textarea{
    display: block;
    width: 400px;
    max-width: 100%;
    height: 50px;
    background: rgb(210, 137, 151);
    border: none;
    margin-bottom: 10px;

}
button{
    width: 130px;
    max-width: 100%;
    height: 50px;
    border-radius: 60px;
    color: #FFFFFF;
    background: rgb(210, 137, 151);
    border: none;
    cursor: pointer;
    font-size: 20px;
    
}
button:hover{
    color: lightblue;

}