/* Page created by Mahmoud AlZayed */

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
.main-background{
    background-image: url("../images/Woman\ with\ HeadPhones.png");
    width: 100vw;
    height: 100vh;
    background-position: 60%;
    background-repeat:no-repeat;
    background-size:cover;
   
}
.main-content{
    display: flex;
    justify-content: flex-end;

}

.main-title{
    width: 523px;
    max-width: 100%;
    height: 232px;
    font-size: 64px;
    line-height: 76px;
    letter-spacing: 2%;
    font-family: Ramaraja,sans-serif;
    color: #BD7482;

}

.main-paragraph{
    width: 538.08px;
    max-width: 100%;
    height: 192px;
    font-size: 20px;
    letter-spacing: 2%; 
    font-family: Roboto,sans-serif;
    font-weight: normal;
    color: #070202;
    line-height: 32px;

}
.main-button{
    font-size: 16px;
    font-weight: bold;
    line-height: 32px;
    letter-spacing: 2%;
    color: #FFFFFF;
    background-color: #BD7482;
    border-radius: 6px;
    border: none;
    width: 198px;
    max-width: 100%;
    height: 64px;
    cursor: pointer;
    margin-top: 50px;

}
.main-button:hover{
    color: lightblue;

}


